deface
imageio-ffmpeg
imageio
opencv-contrib-python==4.10.0.84
scikit-image
tqdm
deepface
onnx
onnxruntime-gpu
shapely
tf-keras
tensorflow
tensorrt
opencv-python
torch
ultralytics
gdown
cython
torchreid